@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */

/* Ensure the icon-dropdown and icon-item have appropriate dark mode styles */

.icon-dropdown {
    background-color: #ffffff;
    border: 1px solid #d1d5db;
}

.dark .icon-dropdown {
    background-color: #1f2937; /* Dark gray */
    border-color: #374151;
}

.icon-item {
    color: #000000;
    padding: 0.5rem;
    cursor: pointer;
}

.dark .icon-item {
    color: #ffffff;
}

.icon-item:hover {
    background-color: #f3f4f6;
}

.dark .icon-item:hover {
    background-color: #4b5563;
}

.icon-preview {
    font-size: 24px;
    color: #555555;
}

.dark .icon-preview {
    color: #d1d5db;
}



.custom-select .dropdown-options {
    background: hsl(var(--b1));  /* Use DaisyUI base color */
    border: 1px solid hsl(var(--b3));
    margin-top: 4px;
}

.custom-select .dropdown-options::-webkit-scrollbar {
    width: 8px;
}

.custom-select .dropdown-options::-webkit-scrollbar-track {
    background: hsl(var(--b2));
}

.custom-select .dropdown-options::-webkit-scrollbar-thumb {
    background: hsl(var(--bc) / 0.5);
    border-radius: 4px;
}